In [1]:
text = 'C:/zshahpouri/NLP-Text-Classification/text'

In [2]:
with open(text, 'r') as file:
    content = file.read()
     #print(content)  # Print the content of the file

In [3]:
import pandas as pd
lines = content.split('\n')

df = pd.DataFrame(lines, columns=['Text'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [5]:
df.head()

                                    Text
0                              threehqv2
1      sxoneightoneckk9ldctxxnffqnzmjqvj
2               1hggcqcstgpmg26lzxtltcgg
3  nrhoneightkmrjkd7fivesixklvvfnmhsldrc
4       zhlzhrkljonephkgdzsnlglmxvprlh6n

In [6]:
import re
def extract(row):
    # Find all numbers in the string
    numbers = re.findall(r'\d', row)
    if len(numbers) == 0:
        return None, None  # No numbers found
    elif len(numbers) == 1:
        # If only one number, double it
        return numbers[0], numbers[0]
    else:
        # Return the first and last numbers
        return numbers[0], numbers[-1]
    

df[['f', 'l']] = df['Text'].apply(lambda x: pd.Series(extract(x)))

In [7]:
df

                                       Text     f     l
0                                 threehqv2     2     2
1         sxoneightoneckk9ldctxxnffqnzmjqvj     9     9
2                  1hggcqcstgpmg26lzxtltcgg     1     6
3     nrhoneightkmrjkd7fivesixklvvfnmhsldrc     7     7
4          zhlzhrkljonephkgdzsnlglmxvprlh6n     6     6
...                                     ...   ...   ...
996                              nine1ztqbs     1     1
997                    eightndxxqxtwo3cqz47     3     7
998   fiveeight792eightqskstrftdpccsrgskrhc     7     2
999                        26fmrrhhpthree6b     2     6
1000                                         None  None

[1001 rows x 3 columns]

In [8]:
df = df.dropna()

In [9]:
# df['f'] = pd.to_numeric(df['f'], errors='coerce')
# df['l'] = pd.to_numeric(df['l'], errors='coerce')

In [10]:
df['sum'] = df['f'] + df['l']

C:\Users\zshah\AppData\Local\Temp\ipykernel_28340\2458131751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum'] = df['f'] + df['l']

In [11]:
df

                                      Text  f  l sum
0                                threehqv2  2  2  22
1        sxoneightoneckk9ldctxxnffqnzmjqvj  9  9  99
2                 1hggcqcstgpmg26lzxtltcgg  1  6  16
3    nrhoneightkmrjkd7fivesixklvvfnmhsldrc  7  7  77
4         zhlzhrkljonephkgdzsnlglmxvprlh6n  6  6  66
..                                     ... .. ..  ..
995        79lfd2nineeight2ghrlbspvkzseven  7  2  72
996                             nine1ztqbs  1  1  11
997                   eightndxxqxtwo3cqz47  3  7  37
998  fiveeight792eightqskstrftdpccsrgskrhc  7  2  72
999                       26fmrrhhpthree6b  2  6  26

[1000 rows x 4 columns]

In [13]:
df['sum'] = pd.to_numeric(df['sum'], errors='coerce')

C:\Users\zshah\AppData\Local\Temp\ipykernel_28340\2891069752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum'] = pd.to_numeric(df['sum'], errors='coerce')

In [14]:
df['sum'].sum()

np.int64(54388)